@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

body {
  background: #1E252B;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
}

.btn {
  padding: 12px 28px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  color: #FF6E30;
  cursor: pointer;
}
.btn:hover {
  background: #FF6E30;
  border: 1px solid #FF6E30;
  color: #fff;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 26px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  font-weight: 600;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.header__menu-link {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
}
.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.login {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5019607843);
  z-index: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__form {
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 40px 30px;
  background: white;
  border-radius: 10px;
  text-align: center;
}
.login__form-title {
  margin-bottom: 40px;
}
.login__form-label {
  display: block;
  margin-bottom: 25px;
}
.login__form-input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding: 0 15px;
  border: 1px solid #FF6E30;
}
.login__form-btn {
  border: 1px solid #FF6E30;
}
.login__form-exit {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.tools {
  position: relative;
}
.tools::before {
  content: "";
  position: absolute;
  background: url("../images/tools/bg.png") center/cover no-repeat;
  width: 589px;
  height: 568px;
  right: 0;
  bottom: 0;
}
.tools__title {
  margin-top: 100px;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
}
.tools__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  margin: 30px 0 60px;
}
.tools__label {
  padding: 8px;
  background: #283036;
  border-radius: 15px;
  width: 500px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tools__label-input {
  width: 80%;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 15px;
  color: white;
}
.tools__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 19px;
     -moz-column-gap: 19px;
          column-gap: 19px;
  margin-top: 110px;
}

.most {
  padding: 200px 0;
}
.most__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.most__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
  margin: 25px 0 90px;
}
.most__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 120px 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.most__card {
  width: calc(33.33333% - 16.6666666667px);
  height: 300px;
  padding: 33px;
  border-radius: 15px;
}
.most__card:hover {
  background: rgba(40, 48, 54, 0.6);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  position: relative;
}
.most__card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.most__card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.9);
}
.most__card-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #FFA537;
}
.most__card-info {
  margin: 30px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.78);
}
.most__card-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.most__card-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.most__btn {
  display: block;
  margin: 100px auto 0;
}

.brand__content {
  background: rgba(44, 53, 61, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 25px;
  width: 100%;
  padding: 55px 83px;
}
.brand__title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
}
.brand__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 55px;
}

.newcomer {
  padding: 220px 0;
}
.newcomer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.newcomer__info {
  width: 427px;
}
.newcomer__info-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.9);
}
.newcomer__info-text {
  margin: 30px 0 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
}
.newcomer__row {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px 25px;
}
.newcomer__card {
  width: calc(50% - 25px);
  padding: 28px 21px;
}
.newcomer__card:hover {
  background: rgba(40, 48, 54, 0.6);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 15px;
}

.user__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 57px;
     -moz-column-gap: 57px;
          column-gap: 57px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user__info {
  width: 400px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: rgba(255, 255, 255, 0.78);
  position: relative;
}
.user__info:before {
  content: "";
  position: absolute;
  background: url("../images/user/before.png") no-repeat;
  width: 101px;
  height: 97px;
  top: -50px;
  left: -50px;
}

.become {
  padding: 240px 0;
}
.become__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.become__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
  margin: 25px 0 100px;
}
.become__label {
  margin: 0 auto;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  background: #283036;
  border-radius: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.become__input {
  width: 80%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding-left: 20px;
}

.footer {
  padding: 70px 0 100px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
}
.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.9);
}
.footer__copyright {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.9);
  margin: 25px 0 21px;
}
.footer__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.55);
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.footer__block-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.footer__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: #FF6E30;
}

.swiper-pagination-bullet {
  background: #FF6E30;
  border-radius: 4px;
  width: 44px;
  height: 8px;
  margin-top: 50px;
}