.user{
  &__block{
    display: flex;
    justify-content: center;
    column-gap: 57px;
    align-items: center;
  }
  &__info{
    width: 400px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.015em;
    color: rgba(255, 255, 255, 0.78);
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background: url('../images/user/before.png') no-repeat;
      width: 101px;
      height: 97px;
      top: -50px;
      left: -50px;
    }
  }
}